<!DOCTYPE HTML>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Main Display</title>

                <script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
                </script>

                <script type="text/javascript" async
                        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
                </script>

                <script type="text/javascript" src="main.js"></script>
        </head>
        <body>
                <div id="mathstuff"><!-- we will embed our Elm app here --></div>
                <script type="text/javascript">
var node = document.getElementById('mathstuff');
var yourPgm = Elm.Main.embed(node);
                </script>
        </body>
</html>
